################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/helloworld/FileContentIndex/4e193689-b275-4162-859c-1ddcacba7b32.vsidx
/.vs/helloworld/FileContentIndex/c76e71cd-82ee-4720-a9a9-f67f1e18c70a.vsidx
/.vs/helloworld/FileContentIndex/3a1e21c2-90d0-4224-85a8-5157f0ef698b.vsidx
/.vs/helloworld/FileContentIndex/4a4926c0-e7cc-41b6-91b9-5c9bdeef8c46.vsidx
/.vs/helloworld/FileContentIndex/d39713e6-75b3-450f-98e0-94b9c86599f0.vsidx
/.vs/helloworld/FileContentIndex/e73edfd4-ded9-425b-b78d-2c04f348b4a2.vsidx
/.vs/helloworld/FileContentIndex/ea83d4a6-1ee4-436d-a57f-7584b709ce23.vsidx
/.vs/slnx.sqlite
