################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/helloworld/FileContentIndex/4e193689-b275-4162-859c-1ddcacba7b32.vsidx
/.vs/helloworld/FileContentIndex/c76e71cd-82ee-4720-a9a9-f67f1e18c70a.vsidx
